
body {
  margin: 0;
}
h2 {
  font-family: "Linux Libertine",Georgia,Times,serif;
line-height: 1.3;
margin-bottom: 0.25em;
}
.header {
  width: 60%;
  margin-left: 40%
}
.menu1{
  line-height: 1.125em;
  font-size: 0.75em;
  white-space: nowrap;
  text-align: right;
  margin-right: 15px;
}
.menu2 {
  margin-right: 365px;
  text-align: right;
  display: inline-block;
  height: 1.9em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 0.8em;
}
a{
  text-decoration: none;
  color:#0645ad;
}
a:hover, a:focus {
    text-decoration: underline;
}
.menu1 li {
  top: 0.33em;
  z-index: 100;
  list-style: none;
  display: inline-block;
}
.menu2 li {
  list-style: none;
  display: inline-block;
  margin-top: 30px;
}
.recherche{
  display: inline-block;
}
.menugauche {
}
.body{
  margin-left: 11em;
}
.bandeau{
  border: 1px solid blue;
  background-color: #f6f6f6;
  border-color: #77ccff;
  border-width: 1px 1px 1px 10px;
  font-size: 0.9em;
  line-height: 1.25em;
  padding: 0.5em 1em;
  margin: 0.8em 10%;
}
.entete{

}
.sommaire {
  width: 18%;
  font-size: 90%;
  background-color: #f9f9f9;
  border: 1px solid #aaa;
}
.sommaire li {
  list-style-type: none;
  text-align: left;
}
.image{
  padding-left: 15px;
  float: right;
  margin-right: 15px;
  background-color: #f9f9f9;
  border: 1px solid #aaa;
}
.boxliens{

}
.bandeauportail{

}
.catlinks{

}
.footer{

}
.footer{

}
.menuvertical{
  margin-top: -150px;
  width: 10em;
  background-color: #f6f6f6;
  float:left;
  border-right: solid #a7d7f9 0.8px;
}
.menuvertical ul {
  padding-left: 20px;
}
.menuvertical li{
  list-style-type: none;
  text-align: left;
  font-size: 0.75em;
  margin-left: 15px;
  margin-top: 10px;
}
.menuvertical li>a {
  text-decoration: none;
}
.menuvertical p {
  font-size: 12px;
  color:#4D4D4D;
  display: flex;
  padding-left: 8px;
}
.menuvertical:after{
  content: **;
  position: fixed;
  background: inherit;
  width: inherit;
  left: 0;
  bottom: 0;
  top: 0;
  border-right: solid #a7d7f9 0.8px;
}

.logo{

}
.tabl1{

}
.contribuer{

}
.outils{

}
.imprimerexporter{

}
.autresprojets{

}
.autreslangues{

}
